

<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th colspan="2"></th>
  </tr>
 
  <% @task.each do |task| %>
    <tr>
      <td><%= task.name %></td>
      <td><%= task.description %></td>
       <td><%= task.user_id %></td>
      <td><%= link_to 'Show', task_path(task) %></td>
      <td><%= link_to 'Edit', edit_task_path(task) %></td>
    </tr>
  <% end %>
</table>


<%= link_to 'Workshift', controller: 'tasks' %> <br>
<%= link_to 'New task', new_task_path %> 